# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual envs
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints

# Streamlit
.streamlit/

# Local Data
*.sqlite3
chroma_store/

# Environment Files
.env

# OS junk
.DS_Store
Thumbs.db
